beautifulsoup4==4.10.0
click==8.0.3
data==0.4
decorator==5.1.0
EbookLib==0.17.1
Flask==2.0.2
funcsigs==1.0.2
future==0.18.2
itsdangerous==2.0.1
Jinja2==3.0.3
latex==0.7.0
lxml==4.6.4
MarkupSafe==2.0.1
pyfiglet==0.8.post1
shutilwhich==1.1.0
six==1.16.0
soupsieve==2.3.1
tempdir==0.7.1
Werkzeug==2.0.2
