html {
  scroll-behavior: smooth;
}

a {
  scroll-margin: 50px;
}

.prose hr {
  border-top-width: 0;
}

.font-Georgia {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

div[class*='cmtt'], span[class*='cmtt'] {
  font-family:Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 0.875em;
}

.cmti-10 {
  font-style:italic
}

.titleHead {
  font-family: sans-serif;
  margin-top: 1em !important;
}

.prose {
  max-width: 100ch;
  line-height: 1.5;
}

.abstract{
  margin-inline: 5em;
}

@media (max-width: 900px) {
  .abstract{
    margin-inline: 0
  }

}

.abstracttitle{
  font-family: sans-serif;
}

.chapterHead {
  font-family: sans-serif;
}

.sectionHead {
  font-family: sans-serif;
}

.subsectionHead {
  font-family: sans-serif;
}

.likesectionHead{
  font-family: sans-serif;
}

img.math {
  display: inline;
  width: auto;
  height:90%
}

img.math-display {
  margin-left: auto;
  margin-right: auto;
}

.equation-label {
  margin-top:auto;
  margin-bottom:auto;
}

.prose hr {
  margin-top: 0em;
  margin-bottom: 0em;
}

.prose img {
  margin-top: 0em;
  margin-bottom: 0em;
}

.prose tbody td {
  padding-top: 0em;
  padding-bottom: 0em;
}

iframe {
  margin-left:auto;
  margin-right:auto
}

div.trinket p {
  font-family:sans-serif;
}

div.calchub p {
  font-family:sans-serif;
}

div.youtube p {
  font-family:sans-serif;
}

div.panopto p {
  font-family:sans-serif;
}

div.figure img {
  width:100%
}

.table {
  margin: auto
}

p.indent {
  text-indent:2em
}

li.itemize::before {
  text-indent:2em
}

button:focus {
  outline: none
}

[href='#']{
  position: absolute;
  transform: translateY(-50vh);
}