<!DOCTYPE html>
<html>
<head>
    <link
    rel="stylesheet"
    href="https://unpkg.com/tailwindcss@^1.5/dist/base.min.css"
    />
    <link
    rel="stylesheet"
    href="https://unpkg.com/tailwindcss@^1.5/dist/components.min.css"
    />
    <link
    rel="stylesheet"
    href="https://unpkg.com/tailwindcss@^1.5/dist/utilities.min.css"
    />
    <link href="css/main.css" type="text/css" rel="stylesheet" />
    <link
        rel="stylesheet"
        href="https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css"
    />
    <link href="css/custom.css" type="text/css" rel="stylesheet" />

</head>


<div class="relative min-h-screen md:flex">

    <!-- mobile menu bar -->
    <div>
    <div class="mobile-nav-bar flex sticky top-0 bg-gray-200 justify-between md:hidden">

        <!-- logo -->
        <a class="text-2xl font-bold font-serif h-12 p-2" href='#'>
            {{ title }} 
        </a>

        <!-- mobile menu button  -->
        <button class="mobile-nav-button">
            <svg class="h-6 w-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
        </button>
    </div>

    <div class="mobile-nav left-0 right-0 outline md:hidden hidden">
        {{ sidebar }}
    </div>

    </div>

    <!-- sidebar -->
    <div class="sidebar fixed overflow-auto bg-white w-56 top-0 bottom-0 space-y-4 transform -translate-x-full md:translate-x-0 transition duration-300 ease-in-out border-gray-600">
        <!--  -->
        <a href='#'>
            <img class="inline-block h-90 w-56"
                src="./coverpage.png"
                alt=""/> 
        </a>
        
        <!-- sidebar content -->
        {{ sidebar }}
    </div>

    <!-- body -->
    <div class="w-56"></div>
    <div class="flex-1 p-4 prose prose-neutral mx-auto text-justify font-serif">
        {{ body }}
    </div>
    
</div>

<script type="text/javascript">
    // grab button and sidebar
    const btn = document.querySelector(".mobile-nav-button");
    const mobilenav = document.querySelector(".mobile-nav");

    // add event listener for the click
    btn.addEventListener("click", () => {
        mobilenav.classList.toggle("hidden");
        btn.classList.toggle("bg-gray-600")

    });
</script>

</html>